body {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}


.name {
    text-shadow: 2px 3px 3px #292929;
    font-family: "Open Sans Bold",Arial,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 400%;
    color: rgb(255, 255, 255);
    z-index: 0;
}

.yellow-back{
    background:linear-gradient( 90deg, transparent 10%, rgba(0, 0, 0, 0.1) 10% ),
        linear-gradient( 90deg, transparent 20%, rgba(0, 0, 0, 0.1) 20% ),
        linear-gradient( 90deg, transparent 30%, rgba(0, 0, 0, 0.1) 30% ),
        linear-gradient( 90deg, transparent 40%, rgba(0, 0, 0, 0.1) 40% ),
        linear-gradient( 90deg, transparent 50%, rgba(0, 0, 0, 0.1) 50% ),
        linear-gradient( 90deg, transparent 60%, rgba(0, 0, 0, 0.1) 60% ),
        linear-gradient( 90deg, transparent 70%, rgba(0, 0, 0, 0.1) 70% ),
        linear-gradient( 90deg, transparent 80%, rgba(0, 0, 0, 0.1) 80% ),
        linear-gradient( 90deg, transparent 90%, rgba(0, 0, 0, 0.1) 90% ),
        linear-gradient( 90deg, transparent 100%, rgba(0, 0, 0, 0.1) 100% )
        rgb(32, 74, 135);
    background-color: #204A87;
    opacity: .6;
    color: #ffffff;
}

.wger-tron {
    width: 100%;
    margin: 0 auto;
}

.wger-jumbo {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 17em 0;
    position: relative;
}

.wger-jumbo h1 {
    color: #ffffff;
    text-align: center;
    letter-spacing: .1em;
}

.wger-info{
    width: 80%;
    padding-bottom: 10vh;
    padding-top: 10vh; 
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.wger-info div {
    padding: 4em;
}

.wger-info div h3 {
    text-align: center;
}

.wger-info div p {
    text-align: justify;
}

.wger-div{
    width: 100%;
    padding: 15vh;
    margin: 0 auto;
}
.wger-inside {
    width: 65%;
    margin: 0 auto;
    display: flex;
}

.wger-inside div blockquote {
    text-align: justify;
    width: 300px;
}

.wger-inside img {
    width: 240px;
    height: 240px;
    border: #ffffff 5px solid;
    border-radius: 50%;
}

.wger-callout {
    width: 100%;
    height: 20vh;
    margin: 0 auto;
    top: -40vh;
    grid-template-columns: auto 30%;
    background: url('../images/main.jpg') no-repeat center center;
    background-size: cover; 
    background-attachment: fixed;
}

.wger-callout button {
    margin: 4vh 40%;
}

.wger-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.wger-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.wger-card-container {
    padding: 2px 16px;
}